!!! 5
html
  head
    title Galaxy Zoo Data
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    link(rel='stylesheet', href='stylesheets/zooniverse.css')
    link(rel='stylesheet', href='stylesheets/application.css')

  body

    .header
      img(src='images/logo.png')

      .nav
        a(href="index.html") Data
        a(href="overlaps.html") Overlapping Galaxy Pairs
        
    .content
      block content

    .footer
      .container

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='js/zooniverse.js', type='text/javascript')
    script(src='js/application.js', type='text/javascript')
