.container,
body > .header,
body > .content {
  margin: 0 auto;
  width: 960px;
}
h1 {
  font-size: 24px;
  margin: 0.5em 0 0.15em 0;
}
p,
td {
  font-size: 14px;
}
body {
  background: url("../images/background.jpg") no-repeat scroll 50% 0 #000;
  color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}
body > .header {
  padding: 95px 0 15px 0;
  text-align: center;
}
body > .header .nav {
  padding: 15px 0 0 0;
}
body > .header .nav > * {
  padding: 0 5px;
}
body > .content {
  padding: 30px 0 60px 0;
  width: 700px;
}
body > .footer {
  background: rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 30px 0;
}
a {
  color: #00a8f1;
}
a:hover {
  color: #79d6ff;
}
table {
  width: 100%;
}
table td,
table th {
  padding: 3px 6px;
}
table td {
  background: #151515;
}
table .banner,
table th {
  background: rgba(255,255,255,0.2);
  font-weight: 700;
  text-align: center;
}
