$sans-serif = "Open Sans", sans-serif

.container
	margin: 0 auto
	width: 960px

h1
	font-size: 24px
	margin: 0.5em 0 0.15em 0

p
	font-size: 14px

body
	background: url("../images/background.jpg") no-repeat scroll 50% 0 #000
	color: #f2f2f2
	font-family: $sans-serif

	> .header
		@extends .container
		padding: 95px 0 30px 0
		text-align: center

	> .content
		@extends .container
		padding: 30px 0 60px 0
		width: 700px

	> .footer
		background: rgba(#fff, 0.1)
		border-top: 1px solid rgba(#fff, 0.2)
		padding: 30px 0

a
	color: lighten(#0079ae, 20%)

	&:hover
		color: lighten(#0079ae, 60%)

table
	width: 100%

	td
		background: rgba(#fff, 0.1)
		padding: 3px

	.banner
		background: rgba(#fff, 0.2)
		font-weight: 700
		text-align: center
